fieldset {
  display: block;
  margin-left:400px;
  margin-right:400px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
  text-align: center;
  }
  input:focus, textarea:focus{  
background-color: lightyellow;  
} 
  input{
	text-align:center;
	margin: auto;
}

h2	{
 text-align: center;
}
 h2, h5 {
	color: #009900;
}
  
textarea {
  overflow: auto;
}

label, input {
	color: black;
  display: block;
  text-align: center;
}

